In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.calibration import LabelEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier 

from sklearn.metrics import accuracy_score, classification_report

In [2]:
df = pd.read_csv("~/dev/gachon-ai/datasets/car_evaluation.csv", header=None)
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [3]:
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
dtype: int64

In [ ]:
label_encoder = LabelEncoder()
columns_to_encode = [0, 1, 2, 3, 4, 5, 6]
for column in columns_to_encode:
    df[column] = label_encoder.fit_transform(df[column])
    
df

      0  1  2  3  4  5  6
0     3  3  0  0  2  1  2
1     3  3  0  0  2  2  2
2     3  3  0  0  2  0  2
3     3  3  0  0  1  1  2
4     3  3  0  0  1  2  2
...  .. .. .. .. .. .. ..
1723  1  1  3  2  1  2  1
1724  1  1  3  2  1  0  3
1725  1  1  3  2  0  1  2
1726  1  1  3  2  0  2  1
1727  1  1  3  2  0  0  3

[1728 rows x 7 columns]

In [5]:
x = df.drop(6, axis=1)
y = df[6]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [6]:
x_test[:5]

      0  1  2  3  4  5
599   0  0  2  0  1  0
1201  2  1  0  1  1  2
628   0  0  3  0  0  2
1498  1  0  3  1  1  2
1263  2  1  2  2  1  1

In [7]:
y_test[:5]

599     2
1201    0
628     2
1498    0
1263    2
Name: 6, dtype: int64